.userProfile {
    
    .userPicture {
        width: 50%;
        display: block;
        margin: 3rem auto;
    }

    div {
        
        margin-bottom: 2rem;

    }
}


.form {

    .select {
        margin-bottom: 2rem;
    }

    textarea {
        height: 12vh;
    }

}