.login {
    margin-top: 10rem;
    display: flex;
    justify-content: center;

    form {
        padding: 2rem;
        border: 1px #000 solid;
        margin-bottom: 2rem;
    }

    input {
        margin-bottom: 1rem;
    }

    .submitButton {
        width: 100%;
        text-align: center;
    }

}