.form {
    margin-top: 15rem;

    display: flex;
    justify-content: center;

    form {
        padding: 2rem;
        border: 1px #000 solid;
        margin-bottom: 2rem;
    }

    h1 {
        margin-bottom: 1rem;
    }
    
    h3 {
        margin: 2rem 0 1rem;
    }

    input {
        margin-bottom: 1rem;
    }

    .submitButton {
        width: 100%;
        text-align: center;
    }

}
